/* Main author styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
address {
    font-style: inherit;
    font-size: 1.4em;
    margin-bottom: 2.5rem;
}

body {
    color: #013E7F;
    font-family: 'Playfair Display', serif;
    margin: 0 0 100px 0;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(248, 246, 246, 0.9);
    border-top: 2px solid #e7e7e8;
    border-bottom: 2px solid #e7e7e8;
    width: 100%;
    display: none;
}

footer li {
    font-size: 0.85em;
    display: inline;
}

footer ul {
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 14px; /* it honestly just looks a little better than the 10px */
}

header {
    position: fixed;
    top: 0;
    background-color: rgba(248, 246, 246, 0.9);
    border-top: 2px solid #e7e7e8;
    border-bottom: 2px solid #e7e7e8;
    width: 100%;
}

header ul > div {
    float: right;
    margin-right: 20px;
}

header li {
    display: inline;
    font-size: 1.5em;
    margin-left: 20px;
}

header li a {
    text-decoration: none;
    color: #013e7f;
}

header nav > ul {
    margin: 0;
    padding: 8px; /* credits to The Verge for this fix*/
}

html {
    position: relative;
    min-height: 100%;
}

main {
    margin-top: 10%; /* an arbitrary percentage: can use pixels or something depending on the PSD/Illustrator file */
}

main .left-title {
    float: left;
}

main .left-title h1 {
    padding-left: 50px;
    font-style: italic;
}

main .right-title {
    float: right;
}

main .right-title > p {
    font-size: 1.4em;
}

main > div {
    width: 50%;
} /* this targets the first child divs in the main. hopefully any other divs made won't be affected */

main .content {
    width: 70%;
    margin: 0 auto;
}

main .content > p,
main .content > ul {
    font-size: 1.4em;
}

main .content .lede {
    font-size: 2em;
    border-left: 10px solid #013E7F;
    padding-left: 20px;
    font-style: italic;
}

/*.article::before {
    content: "";
    border-top: 20px solid black;
}
.article::after {
    content: "";
    border-bottom: 20px solid black;
}

work in progress*/


/* Main author styles -- CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.brief {
    font-style: italic;
}

.content p > a,
.content address > a {
    color: #013e7f;
    text-decoration: none;
    border-bottom: 3px solid #013E80;
}

.lede-brief {
    font-size: 1.4em;
}

.text-border {
    height: 0px;
    width: 50%;
    border: 7px solid #013E7F;
    margin: 0 auto;
    margin-bottom: 2.5rem; /* probably redundant to leave it like this: fix in final iteration*/
}

.title {
    font-weight: bold;
}


/* Main author styles -- HOVER STATES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* header links hover*/
header li a:hover {
    color: #1EAEDB; /*Skeleton's default colour for links is actually quite lovely for a hover colour*/
}

/* links inside paragraphs */
.content p > a:hover,
.content address > a:hover {
    color: #1EAEDB;
}


/* Main author styles -- MOBILE STYLING
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (max-width: 671px) {

    /*
    body {
        background-color: blue;
    }
    */

    /* at breakpoint, hide the header */
    header {
        display: none;
    }

    /* at breakpoint, show the footer */
    footer {
        display: initial;
    }
}